html, body {
	width: 350px;
}

a {
	margin: 10px;
	display: inline-block;
}

.switch-tabs {
	padding-left: 10px;
}

.switch-tabs a {
	display: block;
}

.panel {
	margin: 5px;
}

#hashimg{
	width: 100px;
	height: 110px;
}

#settingsLink {
	text-decoration: none;
}
